@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
body {
    font-family:"Poppins", sans-serif; 
    background: #0f7964; 
    color:rgb(34, 34, 34);
    
}
* {
    box-sizing: border-box
}
.headingsContainer{
    text-align: center;
    font-weight: bold;
    font-size: large;
}
h1{
    text-align: center;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border-radius: 5px;
  background: #ffffff;
}
form{
    width:500px;
    margin: auto;
    color:#0f7964;
    background-color: rgb(227, 249, 249);
    border-radius: 1px;
    padding: 20px 25px;
    box-shadow: 8.0px 16.0px 16.0px hsl(0deg 0% 0% / 0.25);
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ffffff;
  outline: none;
}

hr {
  border: 1px solid #ffffff;
  margin-bottom: 25px;
}

.btn {
    text-align: center;
}

button {
    background-color: #0f7964;
    color: white;
    padding: 12px 20px;
    border-radius: 30px;
    margin: 7px 0;
    width: 40%;
    font-size: 18px;
} 

button:hover {
    background-color: #0f3d38;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.container {
  padding: 2px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h1,label{
    font-family: "Lucida Console", Courier, monospace;
    margin-top: 25px;
  } 
  
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

.mainContainer{
  padding: 2px;
}