body {
    margin:0;  
    padding:0;
    text-align: center;
    background:rgb(227, 249, 249); 
}

.header{
    background-color: rgb(0, 0, 0);
    color: white;
    height: 70px;
    align-content: center; 
  }
  
  ul{
    display: inline;
    margin-left: 62.5%;
    font-weight: bold;
    font-size: large;
  }
  nav h1{
    font-family:'Times New Roman', Times, serif;
    display:inline;
    margin-left: 20px;
    font-size: 30px;
    text-shadow: none;
  }
  a.link{
    color:white;
    text-decoration: none;
  }
  a.link:hover{
    color:#07a283;
  }
  nav ul li:hover{
    color:#07a283;
  }
  li{
    display: inline;
    padding-right: 20px;
    color: rgb(255, 255, 255);
  }
  
  li:hover, .box1, .box2, .box3{
    cursor: pointer;
    color: hsl(0, 0%, 100%);
  }
  .header h1{
    color: white;
  }

 h1{
    color:#0b6a57;
    text-shadow: 1px 1px;
  }

  .footer h2{
    color:#0b6a57;
    font-family: "Lucida Console", Courier, monospace;
  }
  
  .polaroid {
    text-align: center;
    width: 80%;
    background-color: white;
    margin-left: 150px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 30px;
    
}

.container {
  text-align: center;
  padding: 30px 20px;
}

.container h2
{
    text-align: left;
    margin-left: 30px;
    margin-top: 0px;
}

.polaroid p{
    text-align: left;
    margin-left: 30px;
}

img{
    width:100%;
}

.polaroid:hover {
    transform: scale(1.03);
    transition-duration: 0.3s;
 }

body, html {
    margin-top: 10px;
    margin:0;
    padding:0;
}



.footer {
  background-color: black;
  color: white;
  height: 200px; /* Temporary height for testing */
  position: relative;
  top: 50px;
  width: 100%;
  text-align: left;
}

  
.column1 {
    float: left;
    width: 40%;
    padding: 10px;
    height: 170px; 
    margin-left: 30px;
    background-color: black;
}
  
  .column2 {
    float: left;
    width: 30%;
    padding: 10px;
    height: 170px; 
    margin-left: 30px;
    background-color: black;
  }
  
  .column3 {
    float: left;
    width: 20%;
    padding: 10px;
    height: 170px; 
    background-color: black;
  }

  .fa {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 5px 2px;
    border-radius: 50%;
    background-color: #002c33;
    color: aliceblue;
  }
  
  .fa:hover{
    opacity:0.7;
  }

  button {
    height: 55px;
    width: 94%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 15px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: #0f7964;
  }

  button:hover {
    background-color: #0f3d38;
    color: rgb(255, 255, 255);
}

a{
  color:white;
  text-decoration: none;
}
a:hover{
  color:#07a283;
}