@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #0f7964; 
  color:rgb(34, 34, 34);
}

.container {
  position: relative;
  max-width: 800px;
  width: 100%;
  color:#0f7964;
  background-color: rgb(227, 249, 249);
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container h1 {
  font-weight: bolder;
  text-align: center;
}

.container .form {
  margin-top: 30px;
}

.form .input-box {
  width: 100%;
  margin-top: 20px;
}

.input-box label {
  position: relative;
  top: 10px;
  
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form .column {
  display: flex;
  column-gap: 15px;
}

.image p{
  position: relative;
  top: 10px;
}

.profile-picture {
  opacity: 0.75;
  height: 150px;
  width: 150px;
  position: relative;
  top: 10px;
  overflow: hidden;
  background: url('https://qph.cf2.quoracdn.net/main-qimg-f32f85d21d59a5540948c3bfbce52e68');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 8px 6px -6px black;
}

.file-uploader {
  /* make it invisible */
  opacity: 0;
  /* make it take the full height and width of the parent container */
  height: 100%;
  width: 100%;
  cursor: pointer;
  /* make it absolute */
  position: absolute;
  top: 0%;
  left: 0%;
}

.upload-icon {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* initial icon state */
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #ccc;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #bbb;
}

.profile-picture:hover .upload-icon {
  opacity: 1;
}
  
.form .sponsor-box {
  margin-top: 20px;
}

.sponsor-box h3 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}

.form :where(.sponsor-option, .sponsor) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}

.form .sponsor {
  column-gap: 5px;
}

.sponsor input {
  accent-color: rgb(0, 161, 182);
}

.form :where(.sponsor input, .sponsor label) {
  cursor: pointer;
}

.address :where(input, .select-box) {
  margin-top: 8px;
}

.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}

.form .about textarea{
  position: relative;
  height: 200px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

.about label {
    position: relative;
    top: 10px;
    
  }
label::after{
  top:5px;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #0f7964;
}

a{
  color: hsl(0, 0%, 100%);
}

a:link{
  text-decoration: none;
}

.form button:hover {
    background-color: #0f3d38;
    color: rgb(255, 255, 255);
}

/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.sponsor-option, .sponsor) {
    row-gap: 15px;
  }
}