@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgb(227, 249, 249);;
}

.container {
  position: relative;
  max-width: 600px;
  width: 100%;
  background-color: rgba(51, 108, 109, 0.582);
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container h1 {
  color: #ffffff;
  font-weight: bolder;
  text-align: center;
}

.container .form {
  margin-top: 50px;
}

.form .input-box {
  width: 100%;
  margin-top: 50px;
}

.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.form :where(.input-box input, .select-box) {
    position: relative;
    height: 50px;
    width: 50%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
  }
  
  .input-box input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  }

  
.addskills{
    height: 55px;
    width: 40%;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: #0f7964;
    position: relative;
    top: 10px;
    border-radius: 10px;
  }

.linkto {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #0f7964;
  position: relative;
  top: 10px;
  border-radius: 10px;
}

 a{
    color: hsl(0, 0%, 100%);
  }

  a:link{
    text-decoration: none;
  }

.form button:hover {
    background-color: #0f3d38;
    color: rgb(255, 255, 255);
}


/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}